* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */

}

/* font import et font face */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@font-face {
    font-family: "Raleway Bold";
    src: url(../font/Raleway/Raleway-Bold.ttf);
}

/* variable */

:root {
    --taille_img_et_nom_cv: 35%;
    --taille_main: 58%; 
    --calcul_nav_et_main: calc(var(--taille_main) + var(--taille_img_et_nom_cv)); 
    --result_footer: calc(100% - var(--calcul_nav_et_main)); 
    --taille_footer: var(--result_footer); 
}

body {
    max-width: 1160px;
    height: 100vh;
    display: flex;
    margin: auto;
    border: solid 2px black;
    flex-direction: column;
}

.titre_cv_name {
    font-family: "Lato", sans-serif;
    color: white;

}

.sous_titre_cv {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    color: white;
}

header {
    height: var(--taille_img_et_nom_cv);
    width: 100%;
}

main {
    background-color: rgb(97, 97, 97);
    height: var(--taille_main);
    display: flex;
    width: 100%;
}

footer {
    background-color: rgba(120, 34, 33, 1);
    height: var(--taille_footer);
    width: 100%;
}

.image_container_cv {
    background-color: rgba(120, 34, 33, 1);
    height: 80%;

}

.header_info_cv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
    height: 20%;
    background-color: rgba(44, 29, 39, 1);
}

.A_propos_cv {
    width: 25%;
    height: 100%;
    background-color: rgba(120, 34, 33, 1);
}

.contenu_cv {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    padding: 2%;
    background-color: rgb(255, 255, 255);
}

.container_cv_info_image {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.container_img {
    height: 90px;
    margin-bottom: 1%;
    width: 90px;
}

.container_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.address_cv {
    width: 11%;
}

.cv_header_info_texte {
    color: white;
    font-family: "Raleway Bold";
    font-size: 0.7rem;
    text-decoration: none;
    transition: 0.1s;
}

.cv_header_info_texte:hover {
    opacity: 70%;
}


.A_propos_cv {
    overflow-y: auto;
}

.title_a_propos, .paragraphe, .list_ul_cv {
    width: 90%;
    font-family: "Lato", sans-serif;
}

.title_a_propos  {
    color: black;
    background-color: rgba(219, 194, 164, 1);
}

.paragraphe  {
    color: white;
    padding: 5% 5%;
    font-size: 0.8rem;
    text-align: justify;
    text-indent: 20%;
    line-height: 150%;
}

.list_ul_cv {
    color: white;
    padding: 5% 10%;
    font-size: 0.8rem;
    line-height: 150%;
}

.title_a_propos h2 {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2% 5%;
}


.title_contenu {
    display: flex;
    position: relative;
    align-items: center;
    height: 6%;
    margin-bottom: 3%;
    background-color: rgba(219, 194, 164, 1);
}

.title_contenu h2 {
    font-size: 0.9rem;
    margin-left: 1%;
    font-family: "Lato", sans-serif;
}

.color_red {
    position: absolute;
    background-color: rgba(120, 34, 33, 1);
    width: 0.6%;
    height: 100%;
}

.list_ul_cv_stage {
    padding: 2%;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;

}

.titre_info_contenu_cv {
    font-family: "Lato", sans-serif;
    margin-bottom: 2%;
}

.paragraphe_info_cv_contenu {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
}
 
.titre_marg {
    margin-top: 3%;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer_ghitub_info a, .footer_ghitub_info small {
    display: block;
    color: white;

}

.footer_ghitub_info a {
    font-size: 1.5rem;
}

.footer_ghitub_info small {
    font-size: 0.6rem;
    font-family: "Lato", sans-serif;

}
/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #101010;
}
::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(58, 58, 58);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(44, 44, 44);
}